<a href="https://colab.research.google.com/github/zmy2338/Machine-Learning-AWS/blob/main/TRAIN_AWS_P1_Lab_2_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab #2: Exploratory Data Analysis (EDA)**
---
**Description:**  Exploratory Data Analysis (EDA) is a crucial step in the data analysis process that involves exploring and understanding the data to gain insights, identify patterns, and detect anomalies. EDA allows us to understand the underlying structure of the data, test assumptions, and prepare the data for further analysis. This lab will provide practice utilizing basic Pandas commands to explore different datasets, utilizing rows, columns and calculating the mean, median and sum, as part of the EDA process.
<br>


**Lab Structure:**

**Part 1**: [Review: Basic Pandas Commands](#p1)


> **Part 1.1**: [Review: Exploring rows and columns](#p1.1)

**Part 1.2**: [[Additional Practice] Exploratory Data Analysis (EDA) with Gapminder Data](#p4)

**Part 2**: [Data Cleaning Practice](#p2)

**Part 3**: [[OPTIONAL] Data Cleaning Practice](#p3)


</br>


**Goals:** By the end of this lab, you will:
* Be able to use basic Pandas commands.
* Be able to explore basic information about datasets.
* Know how to explore columns, rows, values, outliers, and more.
* Be able to remove missing values, or incorrect values.
* Practice data cleaning on real-world datasets.

</br> 

### **Cheat Sheets**
[EDA cheatsheet](https://drive.google.com/file/d/1ZZnIzgcT8dYcGwWVAR9DDFIwGXTGbIiU/view?usp=sharing)

[Pandas cheatsheet](https://docs.google.com/document/d/1v-MZCgoZJGRcK-69OOu5fYhm58x2G0JUWyi2H53j8Ls/edit)

<a name="p1"></a>
## **Part 1: Reviewing Basic Pandas Commands**

---
Let's practice a few of the Pandas commands we learned in the previous lab. 

**About the dataset:** The dataset is a small example dataset containing information about 5 individuals, including their name, age, gender, country of residence, and salary. 

**Run the code below to create a dictionary of sample data.**

In [ ]:
 # import pandas as pd 
import pandas as pd

# Create a dictionary of sample data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily'],
        'Age': [25, 30, 35, 40, 45],
        'Gender': ['Female', 'Male', 'Male', 'Male', 'Female'],
        'Country': ['USA', 'Canada', 'UK', 'Australia', 'USA'],
        'Salary': [50000, 60000, 70000, 80000, 90000]}

# Create a Pandas dataframe from the dictionary
df = pd.DataFrame(data)

### **Exercise #1:** Print the first 5 rows of the dataframe.

In [ ]:
# Print the first 5 rows of the dataframe

#### **Solution**

In [ ]:
# Print the first 5 rows of the dataframe
print(df.head())

### **Exercise #2:** Print the column headers.

In [ ]:
# Print the column headers and data types of the dataframe

#### **Solution**

In [ ]:
# Print the column headers and data types of the dataframe
print(df.info())

### **Exercise #3:** Print the column headings.

In [ ]:
# Print the column headings
print(df.columns)

####  **Solution**

In [ ]:
# Print the column headings
print(df.columns)

### **Exercise #4:** What is the shape (dimensions) of the dataframe?

In [ ]:
# Print the shape of the dataframe

#### **Solution**

In [ ]:
# Print the dimensions of the dataframe
print(df.shape)

### **Exercise #5:** What is the dimension of the dataframe?

In [ ]:
# Print the dimension of the dataframe

#### **Solution**

In [ ]:
# Print the dimension of the dataframe
print(df.ndim)

### **Exercise #6:** Print basic statistical data for the dataset (mean, standard deviation, etc).

#### **Solution**

In [ ]:
print(df.describe())

### **Exercise #7:** How many counts of unique values are there in the `Gender` column?

In [ ]:
# Print counts of unique values in the 'Gender' column
print(df['Gender'].value_counts())

#### **Solution**

In [ ]:
print(df['Gender'].value_counts())

### **Exercise #8:** Print all unique values in the `Country` column.

In [ ]:
# Unique values in 'Country'

#### **Solution**

In [ ]:
print(df['Country'].unique())

<a name="p1.1"></a>

## **Part 1.1: Exploring Rows and Columns**
---
The dataset contains information on the number of page views for a website over 5 days. Each row represents a day, and the columns represent the number of page views for the following pages:

- home page
- about page
- contact page
- products page

**Run the cell below to create the dataframe.**

In [ ]:
import pandas as pd

data = {
    'home page': [100, 150, 200, 250, 300],
    'about page': [50, 75, 100, 125, 150],
    'contact page': [20, 25, 30, 35, 40],
    'products page': [75, 100, 125, 150, 175]
}

page_views_df = pd.DataFrame(data)
page_views_df

### **Exercise #1:** Print the entire dataframe.

#### **Solution**

In [ ]:
print(page_views_df)

### **Exercise #2:** Print only the "about page" column.

#### **Solution**

In [ ]:
print(page_views_df['about page'])

### **Exercise #3:** Print only the first two rows of the dataframe.

#### **Solution**

In [ ]:
print(page_views_df.iloc[:2])

### **Exercise #4:** What is the value in the 3rd row for `products page`?

#### **Solution**

In [ ]:
page_views_df['products page'][2]

### **Exercise #5:** Print the mean, median, and standard deviation of the "home page" column.

#### **Solution**

### **Exercise #6 [Challenge]:** Print only the values of the 'about page' column for the first three rows of the dataframe.

#### **Solution**

In [ ]:
print(page_views_df.loc[:2, 'about page'])

### **Exercise #7 [Challenge]:** Print the value at the third row and second column.

#### **Solution**

In [ ]:
print(page_views_df.iloc[2, 1])

### **Exercise #8 [Challenge]:** Print the first three rows and the first two columns.

#### **Solution**

In [ ]:
print(page_views_df.iloc[:3, :2])

---

<center>

#### **Back to lecture**

---

<a name="p4"></a>
## [Additional Practice] **Part #1.2: Exploratory Data Analysis (EDA) using the Gapminder dataset**
---
This part focuses on Exploratory Data Analysis (EDA) using the Gapminder dataset, which contains socio-economic indicators for different countries over time.

First, we need to install the gapminder package to access the dataset. **Run the next cell to install the packages and create the dataframe.**

In [ ]:
!pip install gapminder

from gapminder import gapminder

# Create dataframe
gapminder_df = pd.DataFrame(gapminder)
gapminder_df.head()

### **Exercise #1:** How many countries are there in the dataset?

In [ ]:
unique_countries = # YOUR CODE HERE #

print(f"There are {unique_countries} countries in the dataset.")

#### **Solution**

In [ ]:
#
unique_countries = gapminder_df['country'].unique()

print(f"There are {unique_countries} countries in the dataset.")

### **Exercise #2:** How many instances are there?

#### **Solution**

In [ ]:
#1704

gapminder_df.shape

(1704, 6)

### **Exercise #3:** What is the average life expectancy for all of the countries?

#### **Solution**

In [ ]:
#59.4
gapminder_df["lifeExp"].mean()

59.474439366197174

### **Exercise #4:** How many years are documented in the dataset?

#### **Solution**

In [ ]:
# 12 years
gapminder_df["year"].value_counts()

### **Exercise #5:** What is the datatype of `GDP per capita`?

#### **Solution**

In [ ]:
# float
gapminder_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

### **Exercise #6:** What is the lowest value for `life expectancy`?

#### **Solution**

In [ ]:
# 23.599 years

gapminder_df.describe()

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

### **Exercise #7:** What is the highest value for `life expectancy`?

#### **Solution**

In [ ]:
# 82.603 years

gapminder_df.describe()

### **Exercise #8:** Print the `continents` column.

#### **Solution**

In [ ]:
gapminder_df['continent']

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

### **Exercise #9:** Explore rows 500 through 525.

#### **Solution**

In [ ]:
gapminder_df.iloc[499:525]

### **Exercise #10 [Challenge]:** Print the entire row for the United States in 1962.

#### **Solution**

In [ ]:
us_1962 = gapminder_df[(gapminder_df['country'] == 'United States') & (gapminder_df['year'] == 1962)]
print(us_1962)

### **Exercise #11 [Challenge]:**  What is the average life expectancy for Japan in 2007?

#### **Solution**

In [ ]:
japan_2007 = gapminder_df[(gapminder_df['country'] == 'Japan') & (gapminder_df['year'] == 2007)]
avg_life_exp = japan_2007['lifeExp'].mean()

print(f"The average life expectancy for Japan in 2007 is {avg_life_exp:.2f} years.")

### **Exercise #12 [Challenge]:** What is the global mean life expectancy in 1997?

#### **Solution**

In [ ]:
mean_life_exp_1997 = gapminder_df[gapminder_df['year'] == 1997]['lifeExp'].mean()
print("The global mean life expectancy in 1997 is {mean_life_exp_1997:.2f} years.")

### **Exercise #13 [Challenge]:** What is the median GDP per capita globally in 1982?

#### **Solution**

In [ ]:
median_gdp_1982 = gapminder_df[gapminder_df['year'] == 1982]['gdpPercap'].median()
print(f"The global median GDP per capita in 1982 is {median_gdp_1982:.2f} USD.")

### **Exercise #14 [Challenge]:** What is the total population of Asia in 1957?

#### **Solution**

In [ ]:
asia_1957 = gapminder_df[(gapminder_df['continent'] == 'Asia') & (gapminder_df['year'] == 1957)]
total_population_asia_1957 = asia_1957['pop'].sum()
print(f"The total population of Asia in 1957 was {total_population_asia_1957:.2f}.")

---

<center>

#### **Back to lecture**

---

<a name="p2"></a>
## **Part 2: Data Cleaning Practice**
---

Use the DataFrame below on NBA basketball players to answer Exercises #1-3. Take a moment to explore the created dataframe in the cell below, which contains the names of famous NBA players, ages, heights and their respective teams. 

**Remember to run the cell below to load the DataFrame before continuing onto the problems.**

In [ ]:
#import numpy
import numpy as np
import pandas as pd

# create dataframe
df = pd.DataFrame(
  {'Name':['Giannis Antetokounmpo','Kevin Durant','Stephen Curry','Nikola Jokic', 'Joel Embiid'],
  'Age':[28, 34, 34, 27, np.nan],
  'Height (in)':[83, 82, 74, 83, np.nan],
  'Team':['Milwaukee Bucks', np.nan, 'Golden State Warriors', 'Denver Nuggets', np.nan] })
df

### **Exercise #1:** Use `isnull()` to see which values are missing.

#### **Solution**

In [ ]:
df.isnull()

---

<center>

#### **Back to lecture**

---

### **Exercise #2:** Since Joel Embiid's data is missing, drop the row.

#### **Solution**

In [ ]:
df.drop(index =[4])

### **Exercise #3:** Remove any missing values in the "Age" column.

#### **Solution**

In [ ]:
df_dropped = df.dropna(subset=['Age'])

---

<center>

#### **Back to lecture**

---

The following students have applied for an on-campus university job as a Research Assistant. However, some data is missing. It is your job to fix the missing data. Use this data to answer Problems #4-5.

**Remember to run the cell below to load the DataFrame before continuing onto the problems.**

In [ ]:
# create dataframe
students_df = pd.DataFrame(
  {'name':['Jen','Akiro','Jamil','Benny', 'Aster', 'Raj', 'Alisha'],
  'age':[19, 18, 21, 23, 26, np.nan, 30],
   'gpa':[np.nan, 4.0, 3.0, 2.3, np.nan, 3.9, 3.8],
   'year':['Freshman', 'Freshman', 'Junior', 'Junior', 'Senior', 'Sophomore', 'Senior'] })
students_df

### **Exercise #4:** Raj's age is missing. Use the mean for the non-missing values in the column `age` to replace the missing value with the mean.

#### **Solution**

In [ ]:
mean_age = students_df['age'].mean()

students_df['age'] = students_df['age'].fillna(value = mean_age)

students_df

### **Exercise #5:** Jen and Aster's GPA are missing. Use the median value of `gpa` to replace these missing values.

#### **Solution**

In [ ]:
median_gpa = students_df['gpa'].median()

students_df['gpa'] = students_df['gpa'].fillna(value = median_gpa)

students_df

---

<center>

#### **Back to lecture**

---

### **Exercise #6:** Use the `students_df` DataFrame and rename `gpa` to `GPA`.

#### **Solution**

In [ ]:
students_df = students_df.rename(columns={'gpa': 'GPA'})
students_df

### **Exercise #7:** Rename the rest of columns so all column names begin with a capital letter.

#### **Solution**

In [ ]:
students_df = students_df.rename(columns={'name': 'Name', 'age': 'Age', 'year': 'Year'})
students_df

---

<center>

#### **Back to lecture**

---

### **Exercise #8:** Change the data type of the "age" and "gpa" columns to float.

#### **Solution**

In [ ]:
students_df = students_df.astype({'age': 'float', 'gpa': 'float'})

### **Exercise #9:** Add a new column "major" at index position 2 with the following values: "Math", "Chemistry", "English", "Physics", "Computer Science", "Economics", "Biology".

#### **Solution**

In [ ]:
students_df.insert(2, "major", ["Math", "Chemistry", "English", "Physics", "Computer Science", "Economics", "Biology"])

---

<center>

#### **Back to lecture**

---

<a name="p5"></a>

## **Part 3: Data Cleaning Practice [Optional]**
---
The given dataframe contains information about countries in North and South America, including their capital city, population, official language, GDP, and the name of the country. The dataframe has five columns and five rows, each row representing a different country.

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Country': ['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina'],
    'Capital': ['Washington, D.C.', np.nan, 'Mexico City', 'Braslia', 'Buenos Aires'],
    'Population (millions)': [328, np.nan, 130, 211, 45],
    'Official Language': ['English', np.nan, 'Spanish', 'Portuguese', 'Spanish'],
    'GDP (trillions USD)': [21.44, 1.84, np.nan, 2.05, 0.45]
}

countries_df = pd.DataFrame(data)
countries_df

### **Exercise #1:** Identify which values are missing.

#### **Solution**

In [ ]:
countries_df.isnull()

,Country,Capital,Population (millions),Official Language,GDP (trillions USD)
0,False,False,False,False,False
1,False,True,True,True,False
2,False,False,False,False,True
3,False,False,False,False,False
4,False,False,False,False,False

### **Exercise #2:** Drop any rows with missing values.

**Solution**

In [ ]:
countries_df.dropna()

,Country,Capital,Population (millions),Official Language,GDP (trillions USD)
0,USA,"Washington, D.C.",328.0,English,21.44
3,Brazil,Braslia,211.0,Portuguese,2.05
4,Argentina,Buenos Aires,45.0,Spanish,0.45

### **Exercise #3:** Drop rows with missing values in the `Capital` column.

#### **Solution**

In [ ]:
countries_df.dropna(subset=['Capital'])

,Country,Capital,Population (millions),Official Language,GDP (trillions USD)
0,USA,"Washington, D.C.",328.0,English,21.44
2,Mexico,Mexico City,130.0,Spanish,NaN
3,Brazil,Braslia,211.0,Portuguese,2.05
4,Argentina,Buenos Aires,45.0,Spanish,0.45

### **Exercise #4:** Drop the `Population (millions)` column.

#### **Solution**

In [ ]:
countries_df.drop(columns='Population (millions)')

     Country           Capital Official Language  GDP (trillions USD)
0        USA  Washington, D.C.           English                21.44
1     Canada               NaN               NaN                 1.84
2     Mexico       Mexico City           Spanish                  NaN
3     Brazil          Braslia        Portuguese                 2.05
4  Argentina      Buenos Aires           Spanish                 0.45

### **Exercise #5:** Drop the second row.

#### **Solution**

In [ ]:
countries_df.drop(index=1)

,Country,Capital,Population (millions),Official Language,GDP (trillions USD)
0,USA,"Washington, D.C.",328.0,English,21.44
2,Mexico,Mexico City,130.0,Spanish,NaN
3,Brazil,Braslia,211.0,Portuguese,2.05
4,Argentina,Buenos Aires,45.0,Spanish,0.45

### **Exercise #6:**  Calculate the mean of the `GDP (trillions USD)` column and then fill missing values with the mean of the column.

In [ ]:
mean_gdp = countries_df['GDP (trillions USD)'].mean()
countries_df['GDP (trillions USD)'] = countries_df['GDP (trillions USD)'].fillna(value=mean_gdp)

### **Exercise #7:** Replace `Mexico City` with `CDMX` in the `Capital` column

#### **Solution**

In [ ]:
countries_df = countries_df.rename(columns={'Official Language': 'Language'})

### **Exercise #8:** What is the data type for each of the columns?

#### **Solution**

In [ ]:
print(countries_df.dtypes)

Country                   object
Capital                   object
Population (millions)    float64
Language                  object
GDP (trillions USD)      float64
dtype: object

### **Exercise #9:** Insert a new column called `Population Density`.

#### **Solution**

In [ ]:
countries_df.insert(3, 'Population Density', countries_df['Population (millions)'] / 3)

---
 2023 The Coding School, All rights reserved