<a href="https://colab.research.google.com/github/zmy2338/Machine-Learning-AWS/blob/main/TRAIN_AWS_P1_Lecture_3_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lecture #3: Data Wrangling for Machine Learning**
---
**Description:** This lecture notebook will provide practice data wrangling Pandas commands while revisiting the Iris dataset from Day 1.

**About the dataset:** The Iris Dataset is one of the best known datasets in pattern recognition. The dataset consists of several types of Iris flowers and their respective petal and sepal dimensions, that we are going to use to classify the type of Iris flower.

**Goals:** By the end of this notebok, you will:
* Be able to create and encode features to enhance the features available in a given dataset.
* Bet able to select the top *k* features using sklearn's `SelectKBest(...)`.

<br>

### **Lab Structure**
**Part 1**: [Feature Engineering](#p1)

> **Part 1.1**: [Feature Creation](#p11)

> **Part 1.2**: [Feature Encoding](#p12)

**Part 2**: [Feature Selection](#p2)

**Part 3**: [[OPTIONAL] Addition Practice](#p3)


<br>


### **Cheat Sheets**
[Feature Engineering and Selection with Pandas](https://docs.google.com/document/d/191CH-X6zf4lESuThrdIGH6ovzpHK6nb9NRlqSIl30Ig/edit?usp=sharing)
[Pandas Commands](https://docs.google.com/document/d/1v-MZCgoZJGRcK-69OOu5fYhm58x2G0JUWyi2H53j8Ls/edit)

<br>

**Before beginning the practice problems, run the code below to import and install the necessary libraries, as well as to read the data.**

In [ ]:
!pip install scikit-learn

# import pandas as pd 
import pandas as pd

# Import datasets submodule
from sklearn import datasets
from sklearn.feature_selection import SelectKBest

# Load dataset (actual data with associated documentation)
iris = datasets.load_iris()

# Create dataframe
iris_df = pd.DataFrame(data=iris.data,columns=iris.feature_names)

# Add target to dataset
iris_df['target'] = iris.target_names[iris.target]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (1.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.9/dist-packages (from scikit-learn) (1.10.1)

<a name="p1"></a>

---
## **Part 1: Feature Engineering**
---

<a name="p11"></a>

---
### **Part 1.1: Feature Creation**
---

#### **Exercise #1: Create a new feature `sepal length (s, m, l)`.**
---

Create new feature called `sepal length (s, m, l)` that designates any flows with a sepal length:
* Under 5 cm as `'s'` (for small).
* Between 5 and 6 cm as `'m'` (for medium).
* Over 6 cm as `'l'` (for large).

In [ ]:
# sepal length (s, m, l)
iris_df.loc[iris_df['sepal length (cm)'] < 5, 'sepal length (s, m, l)'] = # COMPLETE THIS LINE
iris_df.loc[(iris_df['sepal length (cm)'] >= 5) & # COMPLETE THIS LINE), 'sepal length (s, m, l)'] = 'm'
iris_df.# COMPLETE THIS LINE

iris_df.head()

##### **Solution**

In [ ]:
# sepal length (s, m, l)
iris_df.loc[iris_df['sepal length (cm)'] < 5, 'sepal length (s, m, l)'] = 's'
iris_df.loc[(iris_df['sepal length (cm)'] >= 5) & (iris_df['sepal length (cm)'] <= 6), 'sepal length (s, m, l)'] = 'm'
iris_df.loc[iris_df['sepal length (cm)'] > 6, 'sepal length (s, m, l)'] = 'l'

iris_df.head()

#### **Exercise #2: Create a new feature `sepal area (cm^2)`.**
---

Create new feature called `sepal area (cm^2)` that calculates a rough estimate of the sepal area as follows: `sepal area (cm^2)` = `sepal length (cm)` * `sepal width (cm)`.

In [ ]:
# sepal area (cm^2)
iris_df['sepal area (cm^2)'] = # COMPLETE THIS LINE

iris_df.head()

##### **Solution**

In [ ]:
iris_df['sepal area (cm^2)'] = iris_df['sepal length (cm)'] * iris_df['sepal width (cm)']

iris_df.head()

#### **Exercise #3: Create a new feature `sepal width (s, m, l)`.**
---

Create new feature called `sepal width (s, m, l)` that divides this column into 3 buckets, `'s'`, `'m'`, `'l'`, using `qdcut(...)`.

In [ ]:
iris_df['sepal width (s, m, l)'] = pd.qcut(iris_df['sepal width (cm)'], # COMPLETE THIS LINE
                                           
iris_df.head()

##### **Solution**

In [ ]:
iris_df['sepal width (s, m, l)'] = pd.qcut(iris_df['sepal width (cm)'], 3, labels=['s', 'm', 'l'])

iris_df.head()

#### **Exercise #4: Create a new feature `petal length (s, m, l)`.**
---

Create new feature called `petal length (s, m, l)` that designates any flows with a petal length:
* Under 3 cm as `'s'` (for small).
* Between 3 and 5 cm as `'m'` (for medium).
* Over 5 cm as `'l'` (for large).

In [ ]:
# petal length (s, m, l)
# COMPLETE THIS CODE

iris_df.head()

##### **Solution**

In [ ]:
# petal length (s, m, l)
iris_df.loc[iris_df['petal length (cm)'] < 3, 'petal length (s, m, l)'] = 's'
iris_df.loc[(iris_df['petal length (cm)'] >= 3) & (iris_df['petal length (cm)'] <= 5), 'petal length (s, m, l)'] = 'm'
iris_df.loc[iris_df['petal length (cm)'] > 5, 'petal length (s, m, l)'] = 'l'

iris_df.head()

#### **Exercise #5: Create a new feature `petal area (cm^2)`.**
---

Create new feature called `petal area (cm^2)` that calculates a rough estimate of the petal area as follows: `petal area (cm^2)` = `petal length (cm)` * `petal width (cm)`.

In [ ]:
# petal area (cm^2)
# COMPLETE THIS CODE

iris_df.head()

##### **Solution**

In [ ]:
iris_df['petal area (cm^2)'] = iris_df['petal length (cm)'] * iris_df['petal width (cm)']

iris_df.head()

#### **Exercise #6: Create a new feature `petal width (s, m, l, xl)`.**
---

Create new feature called `petal width (s, m, l, xl)` that divides this column into 4 buckets, `'s'`, `'m'`, `'l'`, `'xl'`, using `qdcut(...)`.

In [ ]:
# COMPLETE THIS CODE

iris_df.head()

##### **Solution**

In [ ]:
iris_df['petal width (s, m, l, xl)'] = pd.qcut(iris_df['petal width (cm)'], 4, labels=['s', 'm', 'l', 'xl'])

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,"sepal length (s, m, l)",sepal area (cm^2),"sepal width (s, m, l)","petal length (s, m, l)",petal area (cm^2),"sepal width (s, m, l, xl)",sepal length encoded,sepal width encoded,target encoded,"petal width (s, m, l, xl)"
0,5.1,3.5,1.4,0.2,setosa,m,17.85,l,s,0.28,s,1,2,0,s
1,4.9,3.0,1.4,0.2,setosa,s,14.70,m,s,0.28,s,0,1,0,s
2,4.7,3.2,1.3,0.2,setosa,s,15.04,m,s,0.26,s,0,1,0,s
3,4.6,3.1,1.5,0.2,setosa,s,14.26,m,s,0.30,s,0,1,0,s
4,5.0,3.6,1.4,0.2,setosa,m,18.00,l,s,0.28,s,1,2,0,s

<a name="p12"></a>

---
### **Part 1.2: Feature Encoding**
---

#### **Exercise #1: Create an encoded version of the categorical feature `sepal length (s, m, l)`.**
---

Call the feature `sepal length encoded`.

In [ ]:
size_map = {'s': 0, 'm': 1, 'l': 2}
iris_df['sepal length encoded'] = iris_df['sepal length (s, m, l)'].# COMPLETE THIS LINE

iris_df.head()

##### **Solution**

In [ ]:
size_map = {'s': 0, 'm': 1, 'l': 2}
iris_df['sepal length encoded'] = iris_df['sepal length (s, m, l)'].map(size_map)

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,"sepal length (s, m, l)",sepal area (cm^2),"sepal width (s, m, l)","petal length (s, m, l)",petal area (cm^2),"sepal width (s, m, l, xl)",sepal length encoded
0,5.1,3.5,1.4,0.2,setosa,m,17.85,l,s,0.28,s,1
1,4.9,3.0,1.4,0.2,setosa,s,14.70,m,s,0.28,s,0
2,4.7,3.2,1.3,0.2,setosa,s,15.04,m,s,0.26,s,0
3,4.6,3.1,1.5,0.2,setosa,s,14.26,m,s,0.30,s,0
4,5.0,3.6,1.4,0.2,setosa,m,18.00,l,s,0.28,s,1

#### **Exercise #2: Create an encoded version of the categorical feature `sepal width (s, m, l)`.**
---


Call the feature `sepal width encoded`.

In [ ]:
size_map = # COMPLETE THIS LINE
iris_df['sepal width encoded'] = iris_df['sepal width (s, m, l)'].# COMPLETE THIS LINE

iris_df.head()

##### **Solution**

In [ ]:
size_map = {'s': 0, 'm': 1, 'l': 2}
iris_df['sepal width encoded'] = iris_df['sepal width (s, m, l)'].map(size_map)

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,"sepal length (s, m, l)",sepal area (cm^2),"sepal width (s, m, l)","petal length (s, m, l)",petal area (cm^2),"sepal width (s, m, l, xl)",sepal length encoded,sepal width encoded
0,5.1,3.5,1.4,0.2,setosa,m,17.85,l,s,0.28,s,1,2
1,4.9,3.0,1.4,0.2,setosa,s,14.70,m,s,0.28,s,0,1
2,4.7,3.2,1.3,0.2,setosa,s,15.04,m,s,0.26,s,0,1
3,4.6,3.1,1.5,0.2,setosa,s,14.26,m,s,0.30,s,0,1
4,5.0,3.6,1.4,0.2,setosa,m,18.00,l,s,0.28,s,1,2

#### **Exercise #3: Create an encoded version of the categorical feature `petal width (s, m, l, xl)`.**
---


Call the feature `petal width encoded`. **NOTE**: This requires having completed Exercise #6 of the previous part.

##### **Solution**

In [ ]:
size_map = {'s': 0, 'm': 1, 'l': 2, 'xl': 3}
iris_df['petal width encoded'] = iris_df['petal width (s, m, l, xl)'].map(size_map)

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,"sepal length (s, m, l)",sepal area (cm^2),"sepal width (s, m, l)","petal length (s, m, l)",petal area (cm^2),"sepal width (s, m, l, xl)",sepal length encoded,sepal width encoded,target encoded,"petal width (s, m, l, xl)",petal width encoded
0,5.1,3.5,1.4,0.2,setosa,m,17.85,l,s,0.28,s,1,2,0,s,0
1,4.9,3.0,1.4,0.2,setosa,s,14.70,m,s,0.28,s,0,1,0,s,0
2,4.7,3.2,1.3,0.2,setosa,s,15.04,m,s,0.26,s,0,1,0,s,0
3,4.6,3.1,1.5,0.2,setosa,s,14.26,m,s,0.30,s,0,1,0,s,0
4,5.0,3.6,1.4,0.2,setosa,m,18.00,l,s,0.28,s,1,2,0,s,0

#### **Exercise #4: Create an encoded version of the *label* `target`.**
---

Sometimes it is also useful to encode the label using the same methods. Create a new label called `target encoded` such that:
* `'setosa'` goes to 0
* `'versicolor'` goes to 1
* `'virginica'` goes to 2

In [ ]:
target_map = {# COMPLETE THIS LINE
iris_df['target encoded'] = iris_df['target'].map(target_map)

iris_df.head()

##### **Solution**

In [ ]:
target_map = {'setosa': 0, 'versicolor': 1, 'virginica': 2}
iris_df['target encoded'] = iris_df['target'].map(target_map)

iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,"sepal length (s, m, l)",sepal area (cm^2),"sepal width (s, m, l)","petal length (s, m, l)",petal area (cm^2),"sepal width (s, m, l, xl)",sepal length encoded,sepal width encoded,target encoded,"petal width (s, m, l, xl)",petal width encoded
0,5.1,3.5,1.4,0.2,setosa,m,17.85,l,s,0.28,s,1,2,0,s,0
1,4.9,3.0,1.4,0.2,setosa,s,14.70,m,s,0.28,s,0,1,0,s,0
2,4.7,3.2,1.3,0.2,setosa,s,15.04,m,s,0.26,s,0,1,0,s,0
3,4.6,3.1,1.5,0.2,setosa,s,14.26,m,s,0.30,s,0,1,0,s,0
4,5.0,3.6,1.4,0.2,setosa,m,18.00,l,s,0.28,s,1,2,0,s,0

<a name="p2"></a>

---
## **Part 2: Feature Selection**
---

**Run the code below to organize our data into numerical features and the label.**

In [ ]:
features = iris_df.select_dtypes('number')
features = features.drop('target encoded', axis = 1)

label = iris_df['target']

#### **Exercise #1: Select the 3 best features using `SelectKBest(...)`.**
---

In [ ]:
feature_selector = SelectKBest(k = # COMPLETE THIS LINE
feature_selector.fit_transform(features, label)

best_features = iris_df[feature_selector.get_feature_names_out()]

best_features.head()

   petal length (cm)  petal width (cm)  petal area (cm^2)
0                1.4               0.2               0.28
1                1.4               0.2               0.28
2                1.3               0.2               0.26
3                1.5               0.2               0.30
4                1.4               0.2               0.28

##### **Solution**

In [ ]:
feature_selector = SelectKBest(k = 3)
feature_selector.fit_transform(features, label)

best_features = iris_df[feature_selector.get_feature_names_out()]

best_features.head()

#### **Exercise #2: Select the 5 best features using `SelectKBest(...)`.**
---

In [ ]:
# COMPLETE THIS LINE
feature_selector.fit_transform(features, label)

best_features = iris_df[feature_selector.get_feature_names_out()]

best_features.head()

##### **Solution**

In [ ]:
feature_selector = SelectKBest(k = 5)
feature_selector.fit_transform(features, label)

best_features = iris_df[feature_selector.get_feature_names_out()]

best_features.head()

,sepal length (cm),petal length (cm),petal width (cm),petal area (cm^2),sepal length encoded
0,5.1,1.4,0.2,0.28,1
1,4.9,1.4,0.2,0.28,0
2,4.7,1.3,0.2,0.26,0
3,4.6,1.5,0.2,0.30,0
4,5.0,1.4,0.2,0.28,1

#### **Exercise #3: Select the single best feature using `SelectKBest(...)`.**
---

In [ ]:
# COMPLETE THIS LINE
feature_selector.fit_transform(features, label)

best_features = iris_df[feature_selector.get_feature_names_out()]

best_features.head()

##### **Solution**

In [ ]:
feature_selector = SelectKBest(k = 1)
feature_selector.fit_transform(features, label)

best_features = iris_df[feature_selector.get_feature_names_out()]

best_features.head()

   petal length (cm)
0                1.4
1                1.4
2                1.3
3                1.5
4                1.4

<a name="p3"></a>

---
## **Part 3: [OPTIONAL] Additional Practice**
---

You can continue practicing these skills using a dataset containing the top hit for each year from 1999 - 2019 according to Spotify. This dataset contains many features, so it would likely need a lot of feature engineering and selection for any task you are trying to perform.

<br>

**NOTE**: We will practicing all of this more tomorrow, so do not worry if you don't have time for these problems.

<br>

**Run the code below to load in our data.**

In [ ]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQ_8wL6mLc01IFXWqv8i4fkVcnaeB0ipMCkKrCKjbKVwM4xCbsSesX7J5aF4k_4lWa6lTEqGxHR9-9A/pub?gid=1132556054&single=true&output=csv'

spotify_df = pd.read_csv(url)

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656

#### **Exercise #1: Create a new feature `duration_s`.**
---

Create new feature called `duration_s` that converts the `duration_ms` column from milliseconds to seconds. **NOTE**: 1 millisecond is a thousandth of a second.

In [ ]:
spotify_df['duration_s'] = # COMPLETE THIS LINE

spotify_df.head()

##### **Solution**

In [ ]:
spotify_df['duration_s'] = spotify_df['duration_ms'] / 1000

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_s
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,211.160
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,167.066
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,250.546
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,224.493
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,200.560

#### **Exercise #2: Create a new feature `dance energy`.**
---

Create new feature called `dance energy` that adds the `danceability` and `energy` columns together.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
spotify_df['dance_energy'] = spotify_df['danceability'] + spotify_df['energy']

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_s,dance_energy
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,211.160,1.585
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,167.066,1.331
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,250.546,1.025
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,224.493,1.464
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,200.560,1.542

#### **Exercise #3: Create a new feature `early or late 2000s`.**
---

Create new feature called `early or late 2000s` such that:
* Any rows where `year` is less than 2005 has the value `'early'`.
* Any rows where `year` is greater than or equal to 2005 has the value `'late'`.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
spotify_df.loc[spotify_df['year'] < 2005, 'early or late 2000s'] = 'early'
spotify_df.loc[spotify_df['year'] >= 2005, 'early or late 2000s'] = 'late'

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_s,dance_energy,early or late 2000s
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,211.160,1.585,early
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,167.066,1.331,early
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,250.546,1.025,early
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,224.493,1.464,early
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,200.560,1.542,early

#### **Exercise #4: Create a new feature `popularity (low, medium, high)`.**
---

Create new feature called `popularity (low, medium, high)` such that:
* Any rows where `popularity` is less than 25 has the value `'low'`.
* Any rows where `popularity` is between 25 and 75 has the value `'medium'`.
* Any rows where `popularity` is greater than 75 has the value `'high'`.

<br>


**NOTE**: When specifying multiple conditions, it's important to include parentheses to make them very clear. Refer to Part 1.1 for an example of how to do this.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
spotify_df.loc[spotify_df['popularity'] < 25, 'popularity (low, medium, high)'] = 'low'
spotify_df.loc[(spotify_df['popularity'] >= 25) & (spotify_df['popularity'] <= 75), 'popularity (low, medium, high)'] = 'medium'
spotify_df.loc[spotify_df['popularity'] > 75, 'popularity (low, medium, high)'] = 'high'

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,...,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_s,dance_energy,early or late 2000s,"popularity (low, medium, high)"
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,...,0.0437,0.3000,0.000018,0.3550,0.894,95.053,211.160,1.585,early,high
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,...,0.0488,0.0103,0.000000,0.6120,0.684,148.726,167.066,1.331,early,high
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,...,0.0290,0.1730,0.000000,0.2510,0.278,136.859,250.546,1.025,early,medium
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,...,0.0466,0.0263,0.000013,0.3470,0.544,119.992,224.493,1.464,early,high
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,...,0.0516,0.0408,0.001040,0.0845,0.879,172.656,200.560,1.542,early,medium

#### **Exercise #5: Create an encoded version of the categorical feature `explicit`.**
---


Call the feature `explicit encoded` such that `False` becomes 0 and `True` becomes 1.

In [ ]:
explicit_map = {False: 0 # COMPLETE THIS CODE

##### **Solution**

In [ ]:
explicit_map = {False: 0, True: 1}
spotify_df['explicit encoded'] = spotify_df['explicit'].map(explicit_map)

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,...,acousticness,instrumentalness,liveness,valence,tempo,duration_s,dance_energy,early or late 2000s,"popularity (low, medium, high)",explicit encoded
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,...,0.3000,0.000018,0.3550,0.894,95.053,211.160,1.585,early,high,0
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,...,0.0103,0.000000,0.6120,0.684,148.726,167.066,1.331,early,high,0
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,...,0.1730,0.000000,0.2510,0.278,136.859,250.546,1.025,early,medium,0
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,...,0.0263,0.000013,0.3470,0.544,119.992,224.493,1.464,early,high,0
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,...,0.0408,0.001040,0.0845,0.879,172.656,200.560,1.542,early,medium,0

#### **Exercise #6: Create an encoded version of the categorical feature `popularity (low, medium, high)`.**
---


Call the feature `popularity encoded`.

In [ ]:
# COMPLETE THIS CODE

##### **Solution**

In [ ]:
popularity_map = {'low': 0, 'medium': 1, 'high': 2}
spotify_df['popularity encoded'] = spotify_df['popularity (low, medium, high)'].map(popularity_map)

spotify_df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,...,instrumentalness,liveness,valence,tempo,duration_s,dance_energy,early or late 2000s,"popularity (low, medium, high)",explicit encoded,popularity encoded
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,...,0.000018,0.3550,0.894,95.053,211.160,1.585,early,high,0,2
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,...,0.000000,0.6120,0.684,148.726,167.066,1.331,early,high,0,2
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,...,0.000000,0.2510,0.278,136.859,250.546,1.025,early,medium,0,1
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,...,0.000013,0.3470,0.544,119.992,224.493,1.464,early,high,0,2
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,...,0.001040,0.0845,0.879,172.656,200.560,1.542,early,medium,0,1

#### **Run the code below to separate our data into numerical features and a label.**

**NOTE**: We are using the `popularity encoded` column as our label, meaning we are selecting the best features to predict this variable.

In [ ]:
features = spotify_df.select_dtypes('number')
features = features.drop('popularity encoded', axis = 1)

label = spotify_df['popularity encoded']

#### **Exercise #7: Select the single best feature using `SelectKBest(...)`.**
---

##### **Solution**

In [ ]:
feature_selector = SelectKBest(k = 1)
feature_selector.fit_transform(features, label)

best_features = spotify_df[feature_selector.get_feature_names_out()]

best_features.head()

   popularity
0          77
1          79
2          66
3          78
4          65

#### **Exercise #8: Drop the `popularity` column.**


You should have seen that `popularity` is the single best feature for predicting `popularity encoded`. This should make sense since we *made* the `popularity encoded` column from `popularity` ultimately. So actually, it's really not meaningful for us to say that `popularity` is a useful feature at all!

So, drop the `popularity` column from the features DataFrame before continuing.

---

In [ ]:
features = features.drop(# COMPLETE THIS LINE)

##### **Solution**

In [ ]:
features = features.drop(columns = 'popularity')

#### **Exercise #9: Select the 3 best features using `SelectKBest(...)`.**
---

##### **Solution**

In [ ]:
feature_selector = SelectKBest(k = 3)
feature_selector.fit_transform(features, label)

best_features = spotify_df[feature_selector.get_feature_names_out()]

best_features.head()

   duration_ms  year  duration_s
0       211160  2000     211.160
1       167066  1999     167.066
2       250546  1999     250.546
3       224493  2000     224.493
4       200560  2000     200.560

#End of notebook
---
© 2023 The Coding School, All rights reserved